html{
  scroll-behavior: smooth;
}
body{
  text-align: center;
  margin: auto;
}
h1 {
  font-size: 6.0vh;
}
h2 {
  font-size: 5.0vh;
}
h3 {
  font-size: 3.8vh;
}
p {
  font-size: 3vh;
}
.teal-section {
  background-color: #ff8385;
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.white-section{
  color: #102a3e;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-heading{
  line-height: 2.5em;
}

/* Navigation */
nav{
  color: white;
  background-color: #102a3e;
}

/* Footer */
footer{
  height: 8em;
  color: white;
  background-color: #102a3e;
  text-align: center;
}

/* Header */
.intro{
  padding-top: 25vh;
  padding-bottom: 20vh;
}
.avatar-wrapper{
  width: 20em;
  height: 20em;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
.avatar{
  display: inline;
  margin-left: -70px;
  height: 100%;
  width: auto;
}
.max-heading{
  text-transform: uppercase;
  padding: 4vh 0;
}

/* Projects */
.projects {
  padding: 5em 10vw;
}
.widgets{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.widget{
  border-radius: 10%;
  overflow: hidden;
  height: 300px;
  width: 300px;
}

/* About */
.about{
  padding: 0 25vw;
}

/* Contact */
.contact{

}

@media screen and (max-width: 480px) {
  .widgets{
    flex-direction: column;
  }
  .widget{
    width: 80vw;
    height: auto;
  }
  .projects{
    padding: 4em 10vw;
  }
  .about{
    padding: 4em 10vw;
  }
}
